<link rel="stylesheets" href="lighttitle.css">
<div class="col-md-10 col-md-offset-1" style="text-align:center;">
   <div class="content">
        <div class="klam" >
          <p style="font-size: 90px;" >Mesto 品牌之初</p>
        </div>
        <div class="noor one"></div>
      <div class="noor two"></div>
  </div>
</div>
<div class="undlenavbar"><br><br><br><br><br>
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body" style="color:white;background-color:#1f1f1f;"><br>
        <div class="col-md-3">
          <div class="albums-tab">
             <div class="albums-tab-thumb sim-anim-6">
             <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fgffh7ko34j318g0p0myn.jpg" class="all studio"/>
             <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fgffebnygij31hc0u044t.jpg" class="all studio"/>
             <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fgfenj30mhj31hc0xcjur.jpg" class="all studio"/>
             <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fgffa7cxtoj30xc0gogpf.jpg" class="all studio"/>
             <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fgfffn17r4j31hc0u00vr.jpg" class="all studio"/>
             <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fgffcrp5zej30zk0gltai.jpg" class="all studio"/>
             <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fgffm4kc0tj318g0lt404.jpg" class="all studio"/>
             <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fgfetxvtenj30of0f4taa.jpg" class="all studio"/>
             <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fgffyobvjkj31560yfjvi.jpg" class="all studio"/>
             </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-2">
          <h3>当今</h3><p>&nbsp&nbsp&nbsp&nbsp&nbsp
              科技飞速发展,曾经有过的梦想都已实现。
              高速发展的社会,充斥着诸多令人膛目结舌的超现代产品.
              Mesto,有个野心---将具有人工智能、跨时代、视觉冲击
              的产品集中在一起,打造一个前所未有的未来体验。
        </div>
          <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3><br><br>
        <div class="col-md-5 col-md-offset-0">
          <h3>现在</h3><p>&nbsp&nbsp&nbsp&nbsp&nbsp
              Mesto已经正式的迈出了第一步.
              在诸多产品中,我们选择了一个交通工具为进军的号角.
              集合国际顶级汽车品牌,涵盖其旗下所有的先进科技产
              品.未来,我们将整合技术,以及拓展其他行业产品.
        </div>
        <div class="col-md-3 col-md-offset-2">
          <div class="albums-tab">
             <div class="albums-tab-thumb sim-anim-5">
             <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fgfg6405dlj318g0tnjtj.jpg" class="all studio"/>
             <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fgfg4su9vdj31hc0u0q59.jpg" class="all studio"/>
             <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fgfg8evj57j30xc0gdtaq.jpg" class="all studio"/>
             <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fgfg2hexcwj30go0b4jrh.jpg" class="all studio"/>
             <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fgfet43ncdj31kw0w0q8z.jpg" class="all studio"/>
             <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fgfg8evj57j30xc0gdtaq.jpg" class="all studio"/>
             <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fgfet43ncdj31kw0w0q8z.jpg" class="all studio"/>
             <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fgfet43ncdj31kw0w0q8z.jpg" class="all studio"/>
             <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fgfghnsoloj31kw11s7bd.jpg" class="all studio"/>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
