<link rel="stylesheets" href="style.css">
<link rel="stylesheets" href="style4.css">
<div class="cont s--inactive" style="background:#1f1f1f">
  <!-- cont inner start -->
  <div class="cont__inner">
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading"><速度></h2>
          </div>
          <div class="el__content">
            <div class="el__text">用背影来诠释自己</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">1</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="1">1</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading"><科技></h2>
          </div>
          <div class="el__content">
            <div class="el__text">人工智能体验</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">2</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="2">2</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading"><姿态></h2>
          </div>
          <div class="el__content">
            <div class="el__text">天马行空的线条</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">3</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="3">3</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading"><质感></h2>
          </div>
          <div class="el__content">
            <div class="el__text">卓而不凡</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">4</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="4">4</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading"><前沿></h2>
          </div>
          <div class="el__content">
            <div class="el__text">领先于当下</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">5</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="5">5</div>
        </div>
      </div>
    </div>
    <!-- el end -->
  </div>
  <!-- cont inner end -->
</div>



<!-- Container (The Band Section) -->
      <div class="col-md-12 col-md-offset-0">
            <div class="container text-center" ><br><br>
              <h1><em>Metso Future</en></h1>
              <p>沉迷于那掠过空气的曲线.</p>
              <p>驻足凝视越过自己的尾灯.</p>
              <p>那令人窒息的完美声浪</p>
              <p>那天马行空的夺魂魅影</p>
              <p>我们希望每一座美丽城市的街头,都有着与之辉映的梦幻姿态.</p>
              <p>这就是Mesto的梦想.</p>
              </div>

<!-- 相框特效 -->
            <div class="col-md-4">
              <div class="view view-fourth">
                 <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fgdt53evtgj31e20xcgs0.jpg" height="100%"  >
                 <div class="mask mask-1"></div>
                 <div class="mask mask-2"></div>
                 <div class="content">
                     <h2>BMW VISON NEXT 100</h2>
                     <p>
                       以驾驶者为中心,人工智能与感知技术结合,环保革新材料的运用,愉悦出行体验.</p>
                 </div>
             </div>
           </div>
           <div class="col-md-4">
             <div class="view view-fourth">
                <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fgdt7crllzj30p10gngne.jpg" height="100%"  >
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <h2>宝马328 Hommage</h2>
                    <p>328 Hommage概念车是踏着M1 Hommage的足迹,是对经典的328的一次现代演绎.</p>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="view view-fourth">
               <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fgdt9na8dlj30rr0iet9l.jpg"  height="100%"  >
               <div class="mask mask-1"></div>
               <div class="mask mask-2"></div>
               <div class="content">
                   <h2>兰博基尼Egoista</h2>
                   <p>非常独特的单座布局,座舱的布局来自于战斗机,整车的线条感极强，立体感和层次感非常丰富.</p>
               </div>
           </div>
         </div>

            <HR  width=100% color=#1f1f1f SIZE=3>
      </div>



<!-- Container (TOUR Section) -->
<div class="col-md-12" style="background:#1f1f1f">
  <div class="container"><br>
    <h3 class="text-center"><font color="white">无畏前行</font></h3>
    <p class="text-center"><font color="white">这一路上不是只有您一人<br>有我们为您护航也有车友与您分享</p></font>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tKfTcly1ffof6k38q3j31hc0xcnbr.jpg" alt="Paris" width="400" height="300">
          <p><strong>车友汇聚</strong></p>
          <p>为车友提供线下交流活动咨询</p>
          <button class="btn" data-toggle="modal" data-target="#myModal"><%= link_to("车友汇聚", groups_path)%></button>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcly1ffof3sn18dj31kw0zk11t.jpg" alt="New York" width="400" height="300">
          <p><strong>直线竞速</strong></p>
          <p>一场速度与激情并存的赛事</p>
          <button class="btn" data-toggle="modal" data-target="#myModal"><a href="/racing">了解更多</a></button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcly1ffoijcvlu2j31890rste1.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>技术支持</strong></p>
          <p>顶级汽车技师协助各类问题</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">服务需求</button>
        </div>
      </div>
    </div>
  </div><br><br><br>
</div><br>
  <HR  width=100%>
    <div class="col-md-12">
      <div class="col-md-2 " style="text-align:center">
          <i class="fa fa-paypal fa-4x" aria-hidden="true"></i>
          <h5>索取报价</h5>
      </div>
      <div class="col-md-2 " style="text-align:center">
          <i class="fa fa-telegram fa-4x" aria-hidden="true"></i>
          <h5>总部位置</h5>
      </div>
      <div class="col-md-2 " style="text-align:center">
          <i class="fa fa-key fa-4x" aria-hidden="true"></i>
          <h5>预约试驾</h5>
      </div>
      <div class="col-md-2 " style="text-align:center">
          <i class="fa fa-weibo fa-4x" aria-hidden="true"></i>
          <h5>最新动态</h5>
      </div>
      <div class="col-md-2 " style="text-align:center">
        <i class="fa fa-gg  fa-4x" aria-hidden="true"></i>
          <h5>联系我们</h5>
      </div>
      <div class="col-md-2 " style="text-align:center">
        <i class="fa fa-grav fa-4x" aria-hidden="true"></i>
          <h5>未来技术</h5>
      </div>

    </div>
