<link rel="stylesheets" href="style.css">
<div class="cont s--inactive" style="background:#000000">
  <!-- cont inner start -->
  <div class="cont__inner">
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading"><速度></h2>
          </div>
          <div class="el__content">
            <div class="el__text">用背影来诠释自己</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">1</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="1">1</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading"><科技></h2>
          </div>
          <div class="el__content">
            <div class="el__text">人工智能体验</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">2</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="2">2</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading"><姿态></h2>
          </div>
          <div class="el__content">
            <div class="el__text">天马行空的线条</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">3</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="3">3</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading"><质感></h2>
          </div>
          <div class="el__content">
            <div class="el__text">卓而不凡</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">4</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="4">4</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading"><前沿></h2>
          </div>
          <div class="el__content">
            <div class="el__text">领先于当下</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">5</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="5">5</div>
        </div>
      </div>
    </div>
    <!-- el end -->
  </div>
  <!-- cont inner end -->
</div>

<!-- Container (The Band Section) -->
<div class="col-md-12  content content1">
  <div class="container text-center" ><br><br>
  <h2><em>Metso Future</en></h2>
  <p>沉迷于那掠过空气的曲线.</p>
  <p>驻足凝视越过自己的尾灯.</p>
  <p>那令人窒息的完美声浪</p>
  <p>那天马行空的夺魂魅影</p>
  <p>我们希望每一座美丽城市的街头,都有着与之辉映的梦幻姿态.</p>
  <p>这就是Mesto的梦想.</p>
  </div>

  <!-- 相框特效 -->
    <div class="albums-tab-thumb sim-anim-6">
    <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fg0bf9tznej31jk15o77s.jpg" class="all studio"/>
    <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fg0b84grkdj30sg0lcgmz.jpg" class="all studio"/>
    <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fg0b8qmapkj30sg0lcdhu.jpg" class="all studio"/>
    <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fg0b9hdcaqj30sg0lcac6.jpg" class="all studio"/>
    <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fg0b9xs3vtj30sg0kaab2.jpg" class="all studio"/>
    <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fg0balssnej30sg0lc410.jpg" class="all studio"/>
    <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fg0bb1xh6zj30sg0lcwf4.jpg" class="all studio"/>
    <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fg0bbjna43j30sg0lcgmh.jpg" class="all studio"/>
    <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fg0bbypr3jj30sg0lcgmy.jpg" class="all studio"/>
    </div>
  </div>



<!-- Container (TOUR Section) -->
<div class="col-md-12" style="background:#000000">
  <div class="container"><br>
    <h3 class="text-center">无畏前行</h3>
    <p class="text-center">这一路上不是只有您一人<br>有我们为您护航也有车友与您分享</p>


    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tKfTcly1ffof6k38q3j31hc0xcnbr.jpg" alt="Paris" width="400" height="300">
          <p><strong>车友汇聚</strong></p>
          <p>为车友提供线下交流活动咨询</p>
          <button class="zbtn" data-toggle="modal" data-target="#myModal">参与活动</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcly1ffof3sn18dj31kw0zk11t.jpg" alt="New York" width="400" height="300">
          <p><strong>直线竞速</strong></p>
          <p>一场速度与激情并存的赛事</p>
          <button class="zbtn" data-toggle="modal" data-target="#myModal">了解更多</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcly1ffoijcvlu2j31890rste1.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>技术支持</strong></p>
          <p>顶级汽车技师协助各类问题</p>
          <button class="zbtn" data-toggle="modal" data-target="#myModal">服务需求</button>
        </div>
      </div>
    </div>
  </div>
</div>
