<link rel="stylesheets" href="spotlight.css">
<div class="undlenavbar">
	<div class="text-effect">
		<!-- Select the text in the preview and type in your own -->
		<h1 class="neon" data-text="The Fast and the Furious" contenteditable>The Fast and the Furious</h1>
		<div class="gradient"></div>
		<div class="spotlight"></div>
	</div>
  <div class="col-md-10 col-md-offset-1"><br>
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body" style="color:white;background-color:#1f1f1f;"><br>
          <div class="col-md-3">
            <div class="albums-tab">
               <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fgh6vo16cjj30xc0irn0y.jpg" width="280px" height="180px" />
            </div>
          </div>
          <div class="col-md-5 col-md-offset-2 ">
            <h3>Fast</h3><p class="divcss5">
                FIA GT大奖赛是一个跑车系列赛，由Stephane Ratel Organisation（SRO）组织，并且由国际汽联认证。该系列赛事主要面向欧洲，但是近年来业已扩展到其他大洲，包括亚洲和南美。
          </div>
            <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
            <div class="col-md-5 col-md-offset-0">
              <h3>HOT</h3><p class="divcss5">
                  60年代末,人们突然意识到：追求极速，充斥雄性荷尔蒙的赛道，可以与“美色”如此完美的结合。最高端的赛道女郎精通赛车知识,这些赛道边的靓丽身影，绝不仅仅是钢铁猛兽的陪衬。
            </div>
          <div class="col-md-3 col-md-offset-2">
            <div class="albums-tab">
               <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fgh71qvyiij30hs0bvq4c.jpg" width="280px" height="180px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12" style="text-align:center">
    <button class="btn" data-toggle="modal" data-target="#myModal"><a href="/racing">参加赛事</a></button>
</div>
