<div class="undlenavbar">
  <div class="col-md-8 col-md-offset-2" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
        <div class="panel-body">
          <%= simple_form_for [:account, @user] do |f| %>
              <%= f.input :name, :label => '姓名' %>
              <%= f.input :address, :label => '地址'  %>
              <%= f.button :submit, '更新', class: 'button' %>
          <% end %>
      </div>
    </div>
  </div>
</div>
