/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/*-------全部商品页面-------*/

html {
   position: relative;
   min-height: 100%;
   font-family:"微软雅黑"
 }
 body {
   /* Margin bottom by footer height */
   margin-bottom: 100px;
   font: 400 15px/1.8 Lato, sans-serif;

 }
 /*--------商品展示页多图-------*/
 .show-picture {
  margin-top:30px;
}
.show-photo-xsmall-box{
  height:80px;
  width:400px;
}
.show-photo-xsmall-box.nav-tabs {
  margin-top: 0px;
  border-bottom: 0px;
}

.show-photo-xsmall-box.nav-tabs li {
  width: 17%;
  margin-right: 10%;
}
.show-photo-xsmall-box.nav-tabs li a {
  padding: 0;
  margin: 0;
}
.show-photo-xsmall-box.nav-tabs li:last-of-type {
  margin-right: 0;
}

/*-----注册登陆页面------*/
 .login{
   background-image: url("https://ww3.sinaimg.cn/large/006tNbRwgy1fg0bbjna43j30sg0lcgmh.jpg");
   background-size: 100% 140%;
   background-position:  center;
   padding-top: 250px;
   padding-bottom: 140px;
 }

 h2.signin{
   margin-bottom: 30px;
 }


 // <!--navbar -->
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #000;
    border: 0;
    font-size: 13px !important;
    letter-spacing: 3px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-brand > img {
    display: inline-block;	//图片和链接文字显示在同一行
    margin-right: 10px; //图片和链接文字拉开一点距离
    width: 90px; //定制图片宽度
    height: 42px; //定制图片高度
    margin-bottom: -50px;
    margin-top: -50px;
}
.nav-tabs li a {
    color: #000;
}


 // <!--下拉菜单-->
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: gray !important;
}


// <!--距导航栏 -->

.undlenavbar  {
  padding-top: 50px;
}

//<!--首行缩进-->
.divcss5{ text-indent:35px}

 // <!--表格上下居中 -->

.th  {
    text-align: center;
    vertical-align: middle;
}
 // <!--go top -->
#gotop{
  width: 48%;
  height: 80px;
  position: absolute;
  right: 50px;
  bottom: 30px;
  cursor: pointer;
  // display:  none;

  span {
      color: #ffffff;
      font-size: 40px;
      position:absolute;
      top: 8px;
      left: 8px;
  }

}

 // <!--footer -->
.footer {
    background-color: #000;
    color: #f5f5f5;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
.form-control {
    border-radius: 0;
}
textarea {
    resize: none;
}
