<div class="footer">
  <div class="text-center">
  <a class="up-arrow" href="#myNavbar" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Bootstrap Theme Made By <a href="https://fullstack.xinshengdaxue.com/works/580" data-toggle="tooltip" title="Visit w3schools">Domen & clx_hope</a></p>
  </div>
</div>
