<div class="footer">
  <div class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Bootstrap Theme Made By <a href="/" data-toggle="tooltip" title="know more">Domen,Clx_hope</a></p>
  </div>
</div>
